In [1]:
import pandas, numpy, pyspark, sqlparse, pytest #imports libraries (5)
print("Setup OK") #returns 'Setups OK' message if good to go

Setup OK

In [27]:
import pandas as pd
pd.set_option('display.max_columns', None) #set max col limit display to data frame
pd.set_option('display.width', 1000) #set width limit display to data frame
df = pd.read_csv('Downloads/public-projects/data/winequality-red.csv', sep=';') #reads data source
df.dtypes #check datatypes and changes as needed; df.info() can also be used
df.head() #displays data

   fixed acidity  volatile acidity  citric acid  residual sugar  chlorides  free sulfur dioxide  total sulfur dioxide  density    pH  sulphates  alcohol  quality
0            7.4              0.70         0.00             1.9      0.076                 11.0                  34.0   0.9978  3.51       0.56      9.4        5
1            7.8              0.88         0.00             2.6      0.098                 25.0                  67.0   0.9968  3.20       0.68      9.8        5
2            7.8              0.76         0.04             2.3      0.092                 15.0                  54.0   0.9970  3.26       0.65      9.8        5
3           11.2              0.28         0.56             1.9      0.075                 17.0                  60.0   0.9980  3.16       0.58      9.8        6
4            7.4              0.70         0.00             1.9      0.076                 11.0                  34.0   0.9978  3.51       0.56      9.4        5

In [44]:
# Display basic statistics
print(df.describe())

# Group by quality and calculate average alcohol content
result = df.groupby('quality')['alcohol'].mean().sort_values()
print(result)

       fixed acidity  volatile acidity  citric acid  residual sugar    chlorides  free sulfur dioxide  total sulfur dioxide      density           pH    sulphates      alcohol      quality
count    1599.000000       1599.000000  1599.000000     1599.000000  1599.000000          1599.000000           1599.000000  1599.000000  1599.000000  1599.000000  1599.000000  1599.000000
mean        8.319637          0.527821     0.270976        2.538806     0.087467            15.874922             46.467792     0.996747     3.311113     0.658149    10.422983     5.636023
std         1.741096          0.179060     0.194801        1.409928     0.047065            10.460157             32.895324     0.001887     0.154386     0.169507     1.065668     0.807569
min         4.600000          0.120000     0.000000        0.900000     0.012000             1.000000              6.000000     0.990070     2.740000     0.330000     8.400000     3.000000
25%         7.100000          0.390000     0.090000        1.900000     0.070000             7.000000             22.000000     0.995600     3.210000     0.550000     9.500000     5.000000
50%         7.900000          0.520000     0.260000        2.200000     0.079000            14.000000             38.000000     0.996750     3.310000     0.620000    10.200000     6.000000
75%         9.200000          0.640000     0.420000        2.600000     0.090000            21.000000             62.000000     0.997835     3.400000     0.730000    11.100000     6.000000
max        15.900000          1.580000     1.000000       15.500000     0.611000            72.000000            289.000000     1.003690     4.010000     2.000000    14.900000     8.000000
quality
5     9.899706
3     9.955000
4    10.265094
6    10.629519
7    11.465913
8    12.094444
Name: alcohol, dtype: float64

In [45]:
print(df.groupby('quality').size())

quality
3     10
4     53
5    681
6    638
7    199
8     18
dtype: int64